.MuiIconButton-root {
	color: grey !important;
}

.MuiIconButton-colorPrimary {
	color: #fd8204 !important;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
