.Toaster-container {
	width: 200px;
	background: #ffffff;
	box-shadow: 0px 3px 15px #e1e9f1;
	box-sizing: border-box;
	border-radius: 30px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 18px;
	top: 5%;
	left: 3%;
	padding: 20px;
	cursor: pointer;
}
.iconContainer {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
}
.closeIcon {
	background: #cbcbcb;
	width: 20px;
	border-radius: 10px;
	display: flex;
	position: absolute;
	cursor: pointer;
}
.closeIcon:hover {
	background: #4d4d4d;
}
.hideToaster {
	animation: move 0.3s linear forwards;
}
.Notification {
	width: 45px;
}

.toasterRow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

@keyframes move {
	from {
		opacity: 1;
		z-index: 100;
	}
	to {
		opacity: 0;
		z-index: -100;
	}
}
